/* #region general */

body {
    margin: 0;
}

/* #endregion general */

/* #region utility  */
.content {
    border: 1px dashed black;
}

.section{
    display:flex ;
    justify-content: center;
    align-items: center;
}
/* #endregion utility  */


/* #region header */

header {
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #region nav */

nav {
    height: 30px;
    background-color: orange;
    width: 75%;
    display: flex;
}

.nav {
    border: 1px dashed black;
    justify-content: center;
    align-items: center;

}


.logo {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.link {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.login {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.click_link {
    display: flex;
    list-style-type: none;
}

.click_link>li {
    margin: 0 2px 0 2px;
}

/* #endregion nav */
/* #endregion header */



.introduction {
    background-color: blue;
    height: 400px;
}

.intro {
    background-color: pink;
    width: 50%;
    height: 300px;
}
