/* #region general */

body {
    margin: 0;
}

/* #endregion general */

/* #region utility  */
.content {
    border: 1px dashed black;
}

.section{
    display:flex ;
    justify-content: center;
    align-items: center;
}

.big_block {
    background-color: dodgerblue;
    height: 300px;
    width: 45%;
}

.small_block {
    background-color: pink;
    height: 300px;
    width: 30%;
}
/* #endregion utility  */


/* #region header */

header {
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #region nav */

nav {
    height: 30px;
    background-color: orange;
    width: 75%;
    display: flex;
}

.nav {
    border: 1px dashed black;
    justify-content: center;
    align-items: center;

}


.logo {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.link {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.login {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.click_link {
    display: flex;
    list-style-type: none;
}

.click_link>li {
    margin: 0 2px 0 2px;
}

/* #endregion nav */
/* #endregion header */



.introduction {
    background-color: blue;
    height: 400px;
}

.intro {
    background-color: rgb(238, 141, 228);
    width: 50%;
    height: 300px;
}

.server {
    background-color: white;
    height: 350px;
}

.channel {
    background-color: rgb(201, 201, 201);
    height: 350px;
}

.comunity {
    background-color: white;
    height: 350px;
}

.tecnology {
    background-color: rgb(201, 201, 201);
    height: 700px;
}

.tecnology_block {
    background-color: green;
    width: 75%;
    height: 650px;
}





